<div
  class="authentication-card-container margin-top-main"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <ng-container *ngIf="!showRegistrationForm; else registrationForm">
    <app-role-selection (roleSelected)="selectRole($event)"></app-role-selection>
  </ng-container>

  <ng-template #registrationForm>
    <mat-card class="authentication-card">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form
          [formGroup]="registerForm"
          fxLayout="column"
          fxLayoutAlign="center stretch"
        >
          <div
            fxLayout="column"
            fxLayoutGap="20px"
          >
            <mat-form-field class="full-width-input">
              <mat-label>First Name</mat-label>
              <input
                matInput
                formControlName="firstname"
                required
              />
              <mat-error
                *ngIf="
                  registerForm.get('firstname')?.invalid && (registerForm.get('firstname')?.dirty || registerForm.get('firstname')?.touched)
                "
              >
                <span *ngIf="registerForm.get('firstname')?.errors?.['required']">Please enter your first name.</span>
                <span *ngIf="registerForm.get('firstname')?.errors?.['minlength']">First name must be at least 3 characters.</span>
                <span *ngIf="registerForm.get('firstname')?.errors?.['pattern']">Enter valid name.</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                formControlName="lastname"
                required
              />
              <mat-error
                *ngIf="
                  registerForm.get('lastname')?.invalid && (registerForm.get('lastname')?.dirty || registerForm.get('lastname')?.touched)
                "
              >
                <span *ngIf="registerForm.get('lastname')?.errors?.['required']">Please enter your last name.</span>
                <span *ngIf="registerForm.get('lastname')?.errors?.['minlength']">Last name must be at least 3 characters.</span>
                <span *ngIf="registerForm.get('lastname')?.errors?.['pattern']">Enter valid last name.</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <mat-label>Username</mat-label>
              <input
                matInput
                formControlName="username"
                required
              />
              <mat-error
                *ngIf="
                  registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)
                "
              >
                <span *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</span>
                <span *ngIf="registerForm.get('username')?.errors?.['minlength']">Username should be at least 3 characters long.</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                formControlName="email"
                required
              />
              <mat-error
                *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
              >
                <span *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</span>
                <span *ngIf="registerForm.get('email')?.errors?.['pattern'] || registerForm.get('email')?.errors?.['email']"
                  >Please enter a valid email.</span
                >
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <mat-label>Telephone</mat-label>
              <input
                matInput
                type="tel"
                formControlName="telephone"
                required
              />
              <mat-error
                *ngIf="
                  registerForm.get('telephone')?.invalid && (registerForm.get('telephone')?.dirty || registerForm.get('telephone')?.touched)
                "
              >
                <span *ngIf="registerForm.get('telephone')?.errors?.['required']">Telephone is required.</span>
                <span *ngIf="registerForm.get('telephone')?.errors?.['minlength']">Telephone should be at least 10 characters long.</span>
                <span *ngIf="registerForm.get('telephone')?.errors?.['pattern']">Please enter a valid telephone number.</span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width-input">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                formControlName="password"
                required
              />
              <mat-error
                *ngIf="
                  registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)
                "
              >
                <span *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</span>
                <span *ngIf="registerForm.get('password')?.errors?.['minlength']">Password should be at least 3 characters long.</span>
              </mat-error>
            </mat-form-field>
          </div>
          <input
            type="hidden"
            formControlName="role"
          />
        </form>
        <div
          *ngIf="errorMessage"
          class="error-message"
        >
          {{ errorMessage }}
        </div>
      </mat-card-content>
      <mat-card-actions class="buttons">
        <button
          class="btn btn--primary btn--large"
          [disabled]="!registerForm.valid"
          (click)="onSubmit()"
        >
          Register
        </button>
        <button
          class="btn btn--primary btn--large"
          routerLink="/auth/login"
          routerLinkActive="active"
        >
          Login here
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>
