.authentication-card {
    width: 30%;
    margin: 0 auto;
}

.authentication-card-container {
    min-height: 20vh;
}

.full-width-input {
    width: 100% !important;
  }
  
.error-message {
    color: red;
}

.buttons {
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
}

.btn--large {
    padding: 15px 30px; 
    font-size: 18px;
  }