.login-form {
    margin-top: 8rem;  /* Change this value to match the height of your header */
}

.authentication-card {
    width: 30%;
    margin: 0 auto;
}

.authentication-card-container {
    //min-height: 100vh;
    margin-top: 8rem;  /* Change this value to match the height of your header */
}

.error-message {
    color: red;
}