.authentication-card {
    width: 30%;
    margin: 0 auto;
}

.authentication-card-container {
    min-height: 20vh;
}

.mat-form-field {
    width: 100%;
}

input.matInput {
    width: 100%;
}

.error-message {
    color: red;
}


.buttons {
    margin: 0 auto;
}