<div class="container">
  <h1>Owners and owner panels</h1>
  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8"
    >
      <!-- ID Column -->
      <ng-container matColumnDef="owner_id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ID
        </th>
        <td
          mat-cell
          *matCellDef="let owner"
        >
          {{ owner.owner_id }}
        </td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Username
        </th>
        <td
          mat-cell
          *matCellDef="let owner"
        >
          {{ owner.user.username }}
        </td>
      </ng-container>

      <!-- Restaurants Column -->
      <ng-container matColumnDef="restaurants">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Restaurants
        </th>
        <td
          mat-cell
          *matCellDef="let owner"
        >
          <div *ngFor="let restaurant of owner.restaurants">
            {{ restaurant.name }}
          </div>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          *matHeaderCellDef
        >
          Actions
        </th>
        <td
          mat-cell
          *matCellDef="let owner"
          class="action-cell"
        >
          <button
            class="btn btn--primary"
            (click)="openOwnerPanel(owner)"
          >
            Open Panel
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
