<div class="map-section margin-top-main">
  <div
    class="map-container"
    *ngIf="apiLoaded | async"
  >
    <google-map
      width="100%"
      height="100%"
      [zoom]="zoom"
    >
      <map-directions-renderer
        *ngIf="directionsResults$ | async as directionsResults"
        [directions]="directionsResults"
      ></map-directions-renderer>

      <map-marker
        *ngFor="let markerPosition of markerPositions; let i = index"
        [position]="markerPosition"
        (mapClick)="openInfoWindow(marker)"
        #marker="mapMarker"
      >
      </map-marker>
      <map-info-window>{{ infoContent }}</map-info-window>
      <map-bicycling-layer></map-bicycling-layer>
      <map-traffic-layer [autoRefresh]="false"></map-traffic-layer>
      <map-transit-layer></map-transit-layer>
    </google-map>
  </div>
  <div class="text-container-wrapper">
    <div class="text-container others-p">
      <h1>Please, <span style="color: var(--deep-pink)">do not</span> leave this page.</h1>
      <p>You would not be able to come back</p>
      <br />
      <p>Estimated travel time: {{ totalDuration }}</p>
      <br />
      <p>Delivery countdown: {{ deliveryCountdown }}</p>
    </div>
  </div>
</div>
