.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  height: 8rem;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.logo {
  font-size: 3.6rem;
  font-weight: 700;
}

.user-nav {
  padding: 1rem;
  border-bottom: 2px solid transparent;
}

.user-dropdown {
  padding: 1rem;
  border-bottom: 2px solid transparent;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 999;
}

.user-dropdown.show,
.user-dropdown.show a {
  display: block;
}

.navbar {
  display: flex;
  //position: absolute;
}

.hamburger {
  display: none;
}

.navbar.showing {
  display: flex;
}

.navbar a {
  font-weight: 500;
  font-size: 1.6rem;
  transition: var(--transition);
  padding: 1rem;
  border-bottom: 2px solid transparent;
}

.navbar a:not(:last-child) {
  margin-right: 1rem;
}

.navbar .sign-in.btn:hover {
  color: var(--white);
}

.navbar a:hover {
  color: var(--black);
  border-color: var(--light-pink);
}

.btn {
  display: inline-block;
  color: var(--white);
  background-color: var(--deep-pink);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.btn:hover {
  color: white;
  background-color: red;
  box-shadow: var(--box-shadow);
}

.header .hamburger img {
  width: 3rem;
}

.header .hamburger {
  display: none;
}

@media (max-width: 1000px) {
  .logo {
    font-size: 3rem;
  }

  .navbar a:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: fixed;
    top: 9rem;
    left: 0;
    right: 0;
    width: 90%;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    text-align: center;
    border-radius: 1.5rem;
    /* display: flex; */
    display: none;
    flex-direction: column;
    transition: 0.4s;
    /* top: -100%; */
  }

  .navbar a {
    padding: 0.5rem;
  }

  .user-nav {
    order: 2;
  }

  .user-dropdown {
    position: relative;
    top: auto;
    padding-top: 0px;
    background-color: transparent;
    box-shadow: none;
  }

  /* .header .navbar a:last-child {
      display: none;
    } */

  .header .navbar.showing {
    display: flex;
  }

  .header .hamburger {
    display: block;
  }
}
