<div class="container margin-top-main">
    <div class="content-wrapper">

        <!-- Cart Section -->
        <div class="cart">
            <h3>Cart:</h3>
            <button class="btn btn--primary btn--large" *ngIf="cartLenght > 0" (click)="checkout()">Checkout</button>
            <ul>
                <li *ngFor="let itemId of cartItems | keyvalue">
                <ng-container *ngIf="getItemById(+itemId.key) as item">
                    <div class="item-content">
                        <h4>{{ item.name }} ({{ (item.price! * itemId.value!).toFixed(2) }}€) <br> Quantity: {{ itemId.value }}</h4>
                    </div>
                    <div class="button-container">
                        <button class="btn btn--primary" (click)="addToCart(+itemId.key, restaurantId)">Add more</button>
                        <button class="btn btn--secondary" (click)="removeFromCart(+itemId.key)">Remove one</button>
                    </div>
                </ng-container>
                </li>
            </ul>
            <h3>Total price: {{ getTotalPrice().toFixed(2) }}€</h3>
        </div>

        <!-- Items Section -->
        <div class="items">
            <div *ngFor="let menu of menus">
                <h5>{{ menu.name }}</h5>
                <ul>
                    <li *ngFor="let item of menu.items" class="item-box">
                        <div class="item-content">
                            <h4>{{ item.name }} - {{ item.price }}€</h4>
                            <p>{{ item.description }}</p>
                        </div>
                        <div class="button-container">
                            <button class="btn btn--primary" (click)="addToCart(item.item_id!, restaurantId)">Add to Order</button>
                            <button class="btn btn--show-more" (click)="toggleItemDetails(item)">Show More</button>
                        </div>                          
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
