<div class="container margin-top-main">
  <div class="content-wrapper">
    <!-- Cart Section -->
    <div class="cart">
      <h3>Cart:</h3>
      <button
        class="btn btn--primary btn--large"
        *ngIf="cartLenght > 0"
        (click)="checkout()"
      >
        Checkout
      </button>
      <ul>
        <li *ngFor="let itemId of cartItems | keyvalue">
          <ng-container *ngIf="getItemById(+itemId.key) as item">
            <div class="item-content">
              <h4>
                {{ item.name }} ({{ (item.price! * itemId.value!).toFixed(2) }}€) <br />
                Quantity: {{ itemId.value }}
              </h4>
            </div>
            <div class="button-container">
              <button
                class="btn btn--primary"
                (click)="addToCart(+itemId.key, restaurantId)"
              >
                Add more
              </button>
              <button
                class="btn btn--secondary"
                (click)="removeFromCart(+itemId.key)"
              >
                Remove one
              </button>
            </div>
          </ng-container>
        </li>
      </ul>
      <h3>Total price: {{ getTotalPrice().toFixed(2) }}€</h3>
    </div>

    <!-- Items Section -->
    <div class="items">
      <!-- Check if there are any menus at all -->
      <ng-container *ngIf="menus.length > 0; else noMenusAtAll">
        <!-- Create a filtered list of visible menus -->
        <ng-container *ngIf="menus | filterVisibleMenus : 'visibility' : 'true' as visibleMenus">
          <!-- If there are no visible menus -->
          <ng-container *ngIf="visibleMenus.length === 0">
            <p class="styled-p">There are no visible menus for this restaurant.<br />Check later.</p>
          </ng-container>

          <!-- Loop through the visible menus -->
          <div *ngFor="let menu of visibleMenus">
            <h5>{{ menu.name }}</h5>
            <ng-container *ngIf="menu.items?.length! > 0; else noItems">
              <ul>
                <li
                  *ngFor="let item of menu.items"
                  class="item-box"
                >
                  <div class="item-content">
                    <h4>{{ item.name }} - {{ item.price }}€</h4>
                    <p>{{ item.description }}</p>
                  </div>
                  <div class="button-container">
                    <button
                      class="btn btn--primary"
                      (click)="addToCart(item.item_id!, restaurantId)"
                    >
                      Add to Order
                    </button>
                    <button
                      class="btn btn--show-more"
                      (click)="toggleItemDetails(item)"
                    >
                      Show More
                    </button>
                  </div>
                </li>
              </ul>
            </ng-container>
            <ng-template #noItems>
              <p class="styled-p">This menu currently has no items.</p>
            </ng-template>
          </div>
        </ng-container>
      </ng-container>

      <!-- Template for when there are no menus at all -->
      <ng-template #noMenusAtAll>
        <p class="styled-p">There are no menus for this restaurant.</p>
      </ng-template>
    </div>
  </div>
</div>
