<div class="margin-top-main">
  <section
    class="home"
    id="home"
  >
    <div class="content others-p">
      <h1>Terms of <span class="deep-pink">Service</span></h1>
      <p>
        Our terms of service dictate your interaction with our services. We encourage you to read them to better understand your rights and
        obligations.
      </p>
      <p class="generated">
        <b>This is a template terms of use</b>
      </p>
      <h2>1. Acceptance of Terms</h2>
      <p>By accessing or using our services, you agree to comply with and be bound by these terms.</p>

      <h2>2. Changes to the Terms</h2>
      <p>
        We may modify these terms at any time. It is your responsibility to review these terms regularly. Your continued use after
        modifications means you agree to the new terms.
      </p>

      <h2>3. Use of Our Services</h2>
      <p>
        You must use our services in compliance with all applicable laws and in a manner that does not infringe on the rights of others or
        impede the use of our services by others.
      </p>

      <h2>4. Termination</h2>
      <p>
        We reserve the right to suspend or terminate your access to our services at any time, without notice, for conduct that we believe
        violates these terms or is harmful to other users of our services, us, or third parties, or for any other reason.
      </p>

      <h2>5. Limitation of Liability</h2>
      <p>
        We shall not be liable for any indirect, incidental, special, consequential, or punitive damages, including but not limited to
        profit loss, data loss, or other intangible losses, related to the use or inability to use our services.
      </p>

      <h2>6. Indemnification</h2>
      <p>
        You agree to indemnify, defend, and hold harmless us, our affiliates, officers, directors, employees, consultants, agents, and
        representatives from any and all third-party claims, losses, liability, damages, and expenses arising from your use of our services.
      </p>

      <h2>7. Governing Law</h2>
      <p>
        These terms shall be governed by and interpreted in accordance with the laws of Estonian Republic. All disputes arising out of these
        terms will be subject to the jurisdiction of the courts of Estonian Republic.
      </p>

      <h2>8. Contact Information</h2>
      <p>If you have questions about these terms or about our services, please contact us.</p>
    </div>
  </section>
</div>
