<div class="container privacy-policy margin-top-main">
    <h2>Privacy Policy</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis metus nec turpis tempor tristique. Sed nec pellentesque metus. Sed vel aliquet lacus, sit amet dapibus sapien. Phasellus vestibulum quam eu ipsum rhoncus, id suscipit ex interdum.</p>
    <p>Duis nec turpis at ligula luctus congue a ac ipsum. Mauris aliquam a augue eget placerat. Donec id lectus ac sem varius commodo. Aliquam pellentesque mi sed ante elementum, vitae feugiat tellus varius. Sed interdum risus id arcu pretium placerat.</p>
</div>
