<div class="margin-top-main">
    <section class="home" id="home">
        <div class="content others-p" >
            <h1>About <span class="deep-pink">Us</span></h1>
            <p>
                We are a dynamic team dedicated to delivering the best service possible.
                Our aim is to make every interaction with our customers a delightful one.
                Whether you're placing an order for delivery, dining at our restaurant, 
                or using our app, we are committed to ensuring your experience is seamless and satisfying.
            </p>
        </div>
    </section>
</div>
