<h1 mat-dialog-title>Assign Item to Menu</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select
      placeholder="Select Menu"
      [(ngModel)]="selectedMenu"
    >
      <mat-option
        *ngFor="let menu of menus"
        [value]="menu.menu_id"
      >
        {{ menu.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    class="btn btn--primary btn--large"
    (click)="onOkClick()"
    cdkFocusInitial
  >
    Submit
  </button>
  <button
    class="btn btn--secondary btn--large"
    (click)="onNoClick()"
  >
    Cancel
  </button>
</div>
