.customer-form form {
  width: 50%;
  margin: 8rem auto auto auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  input {
    padding: 5px;
  }
  button {
    padding: 10px;
  }
}

.address-form form {
  width: 50%;
  margin: 0 auto auto auto;  /* remove the top margin */
  display: flex;
  flex-direction: column;
  gap: 10px;
  input {
    padding: 5px;
  }
  button {
    padding: 10px;
  }
}

h2 {
  margin: 2rem auto;
}
