<div class="container">
  <div class="customer-form">
    <form
      [formGroup]="userForm"
      (ngSubmit)="onUserSubmit()"
    >
      <h1>Fill in user fields that you want to change</h1>

      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstname"
          [readonly]="!editModeUser"
          placeholder="First name"
        />
        <mat-error *ngIf="userForm.get('firstname')?.invalid && (userForm.get('firstname')?.dirty || userForm.get('firstname')?.touched)">
          <span *ngIf="userForm.get('firstname')?.errors?.['required']">Please enter your first name.</span>
          <span *ngIf="userForm.get('firstname')?.errors?.['minlength']">First name must be at least 3 characters.</span>
          <span *ngIf="userForm.get('firstname')?.errors?.['maxlength']">First name must be at maximum 255 character long.</span>
          <span *ngIf="userForm.get('firstname')?.errors?.['pattern']">Enter valid name.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastname"
          [readonly]="!editModeUser"
          placeholder="Last name"
        />
        <mat-error *ngIf="userForm.get('lastname')?.invalid && (userForm.get('lastname')?.dirty || userForm.get('lastname')?.touched)">
          <span *ngIf="userForm.get('lastname')?.errors?.['required']">Please enter your last name.</span>
          <span *ngIf="userForm.get('lastname')?.errors?.['minlength']">Last name must be at least 3 characters.</span>
          <span *ngIf="userForm.get('lastname')?.errors?.['maxlength']">Last name must be at maximum 255 character long.</span>
          <span *ngIf="userForm.get('lastname')?.errors?.['pattern']">Enter valid name.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
          [readonly]="!editModeUser"
          placeholder="Username"
        />
        <mat-error *ngIf="userForm.get('username')?.invalid && (userForm.get('username')?.dirty || userForm.get('username')?.touched)">
          <span *ngIf="userForm.get('username')?.errors?.['required']">Username is required.</span>
          <span *ngIf="userForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters long.</span>
          <span *ngIf="userForm.get('username')?.errors?.['maxlength']">Username must be at maximum 255 character long.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          [readonly]="!editModeUser"
          placeholder="Email"
        />
        <mat-error *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)">
          <span *ngIf="userForm.get('email')?.errors?.['required']">Email is required.</span>
          <span *ngIf="userForm.get('email')?.errors?.['pattern'] || userForm.get('email')?.errors?.['email']"
            >Please enter a valid email.</span
          >
          <span *ngIf="userForm.get('email')?.errors?.['maxlength']">Email must be at maximum 255 character long.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Telephone</mat-label>
        <input
          matInput
          type="tel"
          formControlName="telephone"
          [readonly]="!editModeUser"
          placeholder="Telephone"
        />
        <mat-error *ngIf="userForm.get('telephone')?.invalid && (userForm.get('telephone')?.dirty || userForm.get('telephone')?.touched)">
          <span *ngIf="userForm.get('telephone')?.errors?.['required']">Telephone is required.</span>
          <span *ngIf="userForm.get('telephone')?.errors?.['minlength']">Telephone must be at least 10 characters long.</span>
          <span *ngIf="userForm.get('telephone')?.errors?.['maxlength']">Telephone must be maximum 15 characters long.</span>
          <span *ngIf="userForm.get('telephone')?.errors?.['pattern']">Please enter a valid telephone number.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [readonly]="!editModeUser"
          [type]="hidePassword ? 'password' : 'text'"
        />
        <mat-error *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)">
          <span *ngIf="userForm.get('password')?.errors?.['required']">Password is required.</span>
          <span *ngIf="userForm.get('password')?.errors?.['minlength']">Password must be at least 3 characters long.</span>
          <span *ngIf="userForm.get('password')?.errors?.['maxlength']">Password must be at maximum 255 character long.</span>
        </mat-error>
        <mat-icon
          matSuffix
          (click)="togglePassword()"
        >
          {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </mat-form-field>

      <button
        class="btn btn--primary btn--large"
        (click)="setEditModeUser(true)"
        *ngIf="!editModeUser"
      >
        Edit
      </button>
      <button
        class="btn btn--secondary btn--large"
        (click)="setEditModeUser(false)"
        *ngIf="editModeUser"
      >
        Cancel edit
      </button>
      <button
        class="btn btn--primary btn--large"
        type="submit"
        *ngIf="editModeUser"
        [disabled]="userForm.invalid"
      >
        Save Changes
      </button>
    </form>
  </div>

  <div
    class="address-form"
    *ngIf="userRole === 'CUSTOMER'"
  >
    <form
      [formGroup]="addressForm"
      (ngSubmit)="onAddressSubmit()"
    >
      <h1>Fill in your address</h1>

      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input
          matInput
          type="text"
          formControlName="country"
          [readonly]="!editModeAddress"
          placeholder="Country"
        />
        <mat-error
          *ngIf="addressForm.get('country')?.invalid && (addressForm.get('country')?.dirty || addressForm.get('country')?.touched)"
        >
          <span *ngIf="addressForm.get('country')?.errors?.['required']">Country is required.</span>
          <span *ngIf="addressForm.get('country')?.errors?.['minlength']">Country must be at least 3 characters long.</span>
          <span *ngIf="addressForm.get('country')?.errors?.['maxlength']">Country must be at maximum 255 character long.</span>
          <span *ngIf="addressForm.get('country')?.errors?.['pattern']">Enter valid country.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>County</mat-label>
        <input
          matInput
          formControlName="county"
          [readonly]="!editModeAddress"
          placeholder="County"
        />
        <mat-error *ngIf="addressForm.get('county')?.invalid && (addressForm.get('county')?.dirty || addressForm.get('county')?.touched)">
          <span *ngIf="addressForm.get('county')?.errors?.['required']">County is required.</span>
          <span *ngIf="addressForm.get('county')?.errors?.['minlength']">County must be at least 3 characters long.</span>
          <span *ngIf="addressForm.get('county')?.errors?.['maxlength']">County must be at maximum 255 character long.</span>
          <span *ngIf="addressForm.get('county')?.errors?.['pattern']">Enter valid county.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input
          matInput
          formControlName="city"
          [readonly]="!editModeAddress"
          placeholder="City"
        />
        <mat-error *ngIf="addressForm.get('city')?.invalid && (addressForm.get('city')?.dirty || addressForm.get('city')?.touched)">
          <span *ngIf="addressForm.get('city')?.errors?.['required']">City is required.</span>
          <span *ngIf="addressForm.get('city')?.errors?.['minlength']">City must be at least 3 characters long.</span>
          <span *ngIf="addressForm.get('city')?.errors?.['maxlength']">City must be at maximum 255 character long.</span>
          <span *ngIf="addressForm.get('city')?.errors?.['pattern']">Enter valid city.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Zip Code</mat-label>
        <input
          matInput
          type="number"
          formControlName="zip_code"
          [readonly]="!editModeAddress"
          placeholder="Zipcode"
        />
        <mat-error
          *ngIf="addressForm.get('zip_code')?.invalid && (addressForm.get('zip_code')?.dirty || addressForm.get('zip_code')?.touched)"
        >
          <span *ngIf="addressForm.get('zip_code')?.errors?.['required']">Zipcode is required.</span>
          <span *ngIf="addressForm.get('zip_code')?.errors?.['minlength']">Zipcode must be at least 5 characters long.</span>
          <span *ngIf="addressForm.get('zip_code')?.errors?.['maxlength']">Zipcode must be at maximum 15 characters long.</span>
          <span *ngIf="addressForm.get('zip_code')?.errors?.['pattern']">Enter valid zipcode.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input
          matInput
          formControlName="street"
          [readonly]="!editModeAddress"
          placeholder="Street"
        />
        <mat-error *ngIf="addressForm.get('street')?.invalid && (addressForm.get('street')?.dirty || addressForm.get('street')?.touched)">
          <span *ngIf="addressForm.get('street')?.errors?.['required']">Street is required.</span>
          <span *ngIf="addressForm.get('street')?.errors?.['minlength']">Street must be at least 3 characters long.</span>
          <span *ngIf="addressForm.get('street')?.errors?.['maxlength']">Street must be at maximum 255 character long.</span>
          <span *ngIf="addressForm.get('street')?.errors?.['pattern']">Enter valid street.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>House number</mat-label>
        <input
          matInput
          type="text"
          formControlName="house_number"
          [readonly]="!editModeAddress"
          placeholder="House number"
        />
        <mat-error
          *ngIf="
            addressForm.get('house_number')?.invalid && (addressForm.get('house_number')?.dirty || addressForm.get('house_number')?.touched)
          "
        >
          <span *ngIf="addressForm.get('house_number')?.errors?.['required']">House number is required.</span>
          <span *ngIf="addressForm.get('house_number')?.errors?.['minlength']">House number must be at least 1 character long.</span>
          <span *ngIf="addressForm.get('house_number')?.errors?.['maxlength']">House number must be at maximum 255 character long.</span>
          <span *ngIf="addressForm.get('house_number')?.errors?.['pattern']">Enter valid house number.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Apartment number</mat-label>
        <input
          matInput
          type="text"
          formControlName="apt_number"
          [readonly]="!editModeAddress"
          placeholder="Apartment number"
        />
        <mat-error
          *ngIf="addressForm.get('apt_number')?.invalid && (addressForm.get('apt_number')?.dirty || addressForm.get('apt_number')?.touched)"
        >
          <span *ngIf="addressForm.get('apt_number')?.errors?.['minlength']">Apartment number must be at least 1 character long.</span>
          <span *ngIf="addressForm.get('apt_number')?.errors?.['maxlength']">Apartment number must be at maximum 255 character long.</span>
          <span *ngIf="addressForm.get('apt_number')?.errors?.['pattern']">Enter valid apartment number.</span>
        </mat-error>
      </mat-form-field>

      <button
        class="btn btn--primary btn--large"
        (click)="setEditModeAddress(true)"
        *ngIf="!editModeAddress"
      >
        Edit
      </button>
      <button
        class="btn btn--primary btn--large"
        (click)="setEditModeAddress(false)"
        *ngIf="editModeAddress"
      >
        Cancel edit
      </button>

      <button
        class="btn btn--primary btn--large"
        type="submit"
        *ngIf="!addressExists && editModeAddress"
        [disabled]="addressForm.invalid"
      >
        Add Address
      </button>
      <button
        class="btn btn--primary btn--large"
        type="submit"
        *ngIf="addressExists && editModeAddress"
        [disabled]="addressForm.invalid"
      >
        Update Address
      </button>
    </form>
  </div>
</div>
