<div class="checkout-container margin-top-main">
  <div class="checkout-content">
    <div class="button-container">
      <button
        class="btn btn--primary back-button btn--large"
        (click)="goBack()"
      >
        Go Back
      </button>
    </div>
    <div class="cart">
      <h3>Cart:</h3>
      <ul>
        <li *ngFor="let itemId of cartItems | keyvalue">
          <ng-container *ngIf="getItemById(+itemId.key) as item">
            <div class="item-content">
              <h4>
                {{ item.name }} ({{ (item.price! * itemId.value!).toFixed(2) }}€) <br />
                Quantity: {{ itemId.value }}
              </h4>
            </div>
            <div class="cart-item-actions">
              <button
                class="btn btn--primary"
                (click)="addToCart(+itemId.key, restaurantId!)"
              >
                Add more
              </button>
              <button
                class="btn btn--secondary"
                (click)="removeFromCart(+itemId.key)"
              >
                Remove one
              </button>
            </div>
          </ng-container>
        </li>
      </ul>
      <h3>Total price: {{ getTotalPrice().toFixed(2) }}€</h3>
    </div>

    <div class="delivery-methods">
      <h3>Select Delivery Method</h3>
      <!-- Show error message -->
      <p
        class="error-message"
        *ngIf="deliveryError"
      >
        {{ deliveryError }}
      </p>
      <div
        class="delivery-method"
        *ngFor="let vehicleType of deliveryFees | keyvalue"
      >
        <input
          type="radio"
          id="{{ vehicleType.key }}"
          name="vehicleType"
          value="{{ vehicleType.key }}"
          [(ngModel)]="selectedVehicleType"
          [disabled]="isString(vehicleType.value) || orderPlaced"
        />
        <label for="{{ vehicleType.key }}">{{ vehicleType.key }} - {{ vehicleType.value }} €</label>
      </div>
    </div>

    <div
      class="total-price"
      *ngIf="!orderPlaced"
    >
      <h3>Total price with delivery: {{ getTotalPriceWithDelivery() | number : '1.2-2' }}€</h3>
    </div>

    <div class="submit-order-button">
      <button
        class="btn btn--primary btn--large"
        (click)="submitOrder()"
        [disabled]="!selectedVehicleType || cartLenght < 1"
      >
        Place Order
      </button>
    </div>
  </div>
</div>
