.container {
    position: relative; /* Add this line */
    margin-top: 8rem;  /* Change this value to match the height of your header */
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart,
.delivery-methods {
    margin-top: 10px;
    width: 100%; /* Adjust this value as needed */
    /* Add additional styling as needed */
}

.back-button {
    position: relative;
    margin-right: auto;
    //margin: 10px; /* Adjust this value as needed */
}

.submit-order-button {
    position: relative;
    margin-top: 10px;
    margin-right: auto;
    //margin: 10px; /* Adjust this value as needed */
}
