<div class="container">
    <div class="content-wrapper">
        <button class="back-button" (click)="goBack()">Go Back</button>
        <div class="cart">
            <h3>Cart:</h3>
            <ul>
                <li *ngFor="let itemId of cartItems | keyvalue">
                  <ng-container *ngIf="getItemById(+itemId.key) as item">
                    <h4>{{ item.name }} ({{ (item.price! * itemId.value!).toFixed(2) }}€) - Quantity: {{ itemId.value }}</h4>
                    <button (click)="addToCart(+itemId.key)">Add more</button>
                    <button (click)="removeFromCart(+itemId.key)">Remove one</button>
                  </ng-container>
                </li>
            </ul>
            <h3>Total price: {{ getTotalPrice().toFixed(2) }}€</h3>
        </div>
        <div class="delivery-methods">
            <h3>Select Delivery Method</h3>
            <div *ngFor="let vehicleType of deliveryFees | keyvalue">
                <input type="radio" id="{{vehicleType.key}}" name="vehicleType" value="{{vehicleType.key}}" [(ngModel)]="selectedVehicleType">
                <label for="{{vehicleType.key}}">{{vehicleType.key}} - {{vehicleType.value}}</label>
            </div>
        </div>
    </div>
</div>
