.dialog-content {
  width: 100%;
  padding: 2rem;
}

.dialog-content h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.dialog-content p {
  margin-bottom: 1.5rem;
}

.dialog-content .highlight {
  font-weight: bold;
  color: #0055aa;
}

.dialog-content span {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}
