.container {
  width: 100%;
}

.table-container {
  overflow-x: auto;
}

.full-width-table {
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  padding: 1em; /* default padding */
}

@media screen and (max-width: 768px) {
  .mat-cell,
  .mat-header-cell {
    display: block;
    padding: 0.5em; /* reduce padding for small screens */
  }
}
