.authentication-card {
    width: 30%;
    margin: 0 auto;
}

.authentication-card-container {
    min-height: 20vh;
}

.buttons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.btn--large {
    padding: 15px 30px;
    font-size: 18px;
}
