<div class="authentication-card-container" fxLayout="column" fxLayoutAlign="center">
    <mat-card class="authentication-card">
        <mat-card-header>
            <mat-card-title fxLayoutAlign="center">Select Your Role:</mat-card-title>
          </mat-card-header>
        <button mat-raised-button color="primary" (click)="selectRole('customer')">Customer</button>
        <button mat-raised-button color="primary" (click)="selectRole('owner')">Restaurant Owner</button>
    </mat-card>
</div>
  