<section class="home" id="home" *ngIf="userRole === 'CUSTOMER'">
    <div class="content">
        <h1>Order Your Product <span class="deep-pink">Easier & Faster.</span></h1>
        <p>
            BlitzBite, the new kid on the block in online food delivery, is making waves.
            With a platform connecting food lovers and restaurants across Estonia,
            we're redefining dining experiences with speed and ease like never before.
        </p>
        <a routerLink="/customer/restaurant" class="home-btn">Go to Menu</a>
    </div>
    <div class="image">
        <img rel="preload" src="assets/images/main.svg" alt="" width="576" height="569" />
    </div>
</section>

<section class="home" id="home" *ngIf="userRole === 'OWNER'">
    <div class="content">
      <h1>Manage Your Restaurant <span class="deep-pink">Easier & Faster.</span></h1>
      <p>
        BlitzBite, the new kid on the block in online food delivery, is making waves.
        With a platform connecting food lovers and restaurants across Estonia,
        we're redefining dining experiences with speed and ease like never before.
      </p>
      <a routerLink="/owner/panel" class="home-btn">Go to Owner Panel</a>
    </div>
    <div class="image">
      <img rel="preload" src="assets/images/main.svg" alt="" width="576" height="569" />
    </div>
</section>

<section class="home" id="home" *ngIf="userRole === 'ADMIN'">
    <div class="content">
        <h1>Admin The App <span class="deep-pink">Easier & Faster.</span></h1>
        <p>
            BlitzBite, the new kid on the block in online food delivery, is making waves.
            With a platform connecting food lovers and restaurants across Estonia,
            we're redefining dining experiences with speed and ease like never before.
        </p>
        <a routerLink="/admin/panel" class="home-btn">Go to Admin Panel</a>
    </div>
    <div class="image">
        <img rel="preload" src="assets/images/main.svg" alt="" width="576" height="569" />
    </div>
</section>

<!-- Services -->
<section class="services" id="services" *ngIf="userRole === ''" [ngClass]="{'margin-top-main': userRole === ''}">

    <div class="top">
        <h2><span class="deep-pink">Why</span> We are the Best</h2>
        <p>
            Lorem ipsum is placeholder text commonly used in the graphic, print,
            and publishing industries for previewing layouts and visual mockups.
            Lorem ipsum is placeholder.
        </p>
    </div>

    <div class="bottom">

        <div class="box">
            <img rel="preload" src="assets/images/deliver-bike.svg" alt="" />
            <h4>Free Delivery</h4>
            <p>
                Lorem ipsum dolor sit amet,adipiscing elit. Eu, montes, metus
                porttitor consectetur pretium. Euismod imperdiet pellentesque cursus
                in netus.
            </p>
        </div>

        <div class="box">
            <img rel="preload" src="assets/images/food-dish.svg" alt="" />
            <h4>Healthy Foods</h4>
            <p>
                Lorem ipsum dolor sit amet,adipiscing elit. Eu, montes, metus
                porttitor consectetur pretium. Euismod imperdiet pellentesque cursus
                in netus.
            </p>
        </div>

        <div class="box">
            <img rel="preload" src="assets/images/app-phone.svg" alt="" />
            <h4>Online Ordering</h4>
            <p>
                Lorem ipsum dolor sit amet,adipiscing elit. Eu, montes, metus
                porttitor consectetur pretium. Euismod imperdiet pellentesque cursus
                in netus.
            </p>
        </div>

    </div>
</section>

<!-- App -->
<!-- <section class="app" id="contact">
    <div class="image">
        <img rel="preload" src="assets/images/splash with mobile.svg" alt="" />
    </div>
    <div class="content">
        <h3>Place your order through our app</h3>
        <p>
            You can easily place your order using our mobile app. Now you can
            download our app for both IOS and Android mobiles.
        </p>
        <div class="links">
            <img src="assets/images/app-store.png" alt="" />
            <img src="assets/images/google-play.png" alt="" />
        </div>
    </div>
</section> -->