<div
  class="container"
  *ngIf="item && editMode"
>
  <mat-card class="item-form-card">
    <mat-card-content>
      <form
        fxLayout="column"
        fxLayoutAlign="start stretch"
      >
        <h3>Item Info</h3>

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="item.name"
            name="name"
            id="name"
            placeholder="Item name"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            [(ngModel)]="item.description"
            name="description"
            id="description"
            placeholder="Item description"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Price</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="item.price"
            name="price"
            id="price"
            placeholder="Item price"
          />
        </mat-form-field>

<!--         <mat-form-field>
          <mat-label>Image URL</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="item.image"
            name="image"
            id="image"
            placeholder="Item image URL"
          />
        </mat-form-field> -->

        <mat-form-field>
          <mat-label>Ingredients</mat-label>
          <textarea
            matInput
            [(ngModel)]="item.ingredients"
            name="ingredients"
            id="ingredients"
            placeholder="List ingredients separated by commas"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Allergens</mat-label>
          <textarea
            matInput
            [(ngModel)]="item.allergens"
            name="allergens"
            id="allergens"
            placeholder="List allergens separated by commas"
          ></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="btn-cont">
      <button
        class="btn btn--primary btn--large btn--gap"
        (click)="saveItem()"
      >
        Save
      </button>
      <button
        class="btn btn--secondary btn--large"
        (click)="cancelEdit()"
      >
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div
  class="item-section margin-top-main"
  *ngIf="!editMode"
>
  <h1>Items</h1>

  <button
    class="btn btn--primary btn--large add-item"
    (click)="addItem()"
  >
    Add Item
  </button>

  <div *ngIf="items.length > 0">
    <div
      class="item-box"
      *ngFor="let item of items"
    >
      <div class="item-info">
        <h2>Restaurant: {{ item.restaurant_name }}<br />Menu: {{ item.menu_name }}<br />Item: {{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p>Price: {{ item.price }}</p>
      </div>

      <div class="item-actions">
        <button
          class="btn btn--primary"
          [class.btn--large]="isLargeScreen"
          (click)="editItem(item)"
        >
          Edit Item
        </button>
        <button
          class="btn btn--secondary"
          [class.btn--large]="isLargeScreen"
          (click)="deleteItem(item.item_id)"
        >
          Delete Item
        </button>
        <button
          class="btn btn--primary"
          [class.btn--large]="isLargeScreen"
          *ngIf="!item.menu_id"
          (click)="assignToMenu(item)"
        >
          Assign to Menu
        </button>
        <button
          class="btn btn--secondary"
          [class.btn--large]="isLargeScreen"
          *ngIf="item.menu_id"
          (click)="removeFromMenu(item)"
        >
          Remove from Menu
        </button>
        <button
          class="btn btn--primary btn--large"
          [class.btn--large]=""
          *ngIf="!item.restaurant_id"
          (click)="assignToRestaurant(item)"
        >
          Assign to Restaurant
        </button>
        <button
          class="btn btn--secondary"
          [class.btn--large]="isLargeScreen"
          *ngIf="item.restaurant_id"
          (click)="removeFromRestaurant(item)"
        >
          Remove from Restaurant
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="items.length === 0">
    <p>No items found.</p>
  </div>
</div>
