<div class="owner-panel">
    <button (click)="switchToDisplayPanel()">Display Restaurants</button>
    <button (click)="switchToRestaurantsPanel()">Manage Restaurants</button>
    <button (click)="switchToMenusPanel()">Manage Menus</button>
    <button (click)="switchToItemsPanel()">Manage Items</button>

    <app-display *ngIf="panel === 'display'"></app-display>
    <app-manage-restaurants *ngIf="panel === 'restaurants'"></app-manage-restaurants>
    <app-manage-menus *ngIf="panel === 'menus'"></app-manage-menus>
    <app-manage-items *ngIf="panel === 'items'"></app-manage-items>
</div>
