.owner-panel {
    margin-left: 20px;
}

.panel-button {
    margin: 5px; // or any other value you prefer
}

.info {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center;
}
