<div class="admin-panel margin-top-main">
  <div class="btn-container">
    <button
      class="btn btn--primary btn-size"
      (click)="switchToDisplayOwnersPanel()"
    >
      Display Owners and Restaurants
    </button>
    <button
      class="btn btn--primary btn-size"
      (click)="switchToDisplayUsersPanel()"
    >
      Display All Users
    </button>
    <button
      class="btn btn--primary btn-size"
      (click)="switchToDisplayOrdersPanel()"
    >
      Display All Orders
    </button>
    <button
      class="btn btn--primary btn-size"
      (click)="switchToPendingOwnersPanel()"
    >
      Pending Owner Applications
    </button>
  </div>

  <div class="panel-container">
    <app-display-users *ngIf="panel === 'displayUsers'"></app-display-users>
    <app-display-owners *ngIf="panel === 'displayOwners'"></app-display-owners>
    <app-display-orders *ngIf="panel === 'displayOrders'"></app-display-orders>
    <app-pending-owners *ngIf="panel === 'pendingOwners'"></app-pending-owners>
  </div>
</div>
