<div class="admin-panel margin-top-main">
    <button (click)="switchToDisplayOwnersPanel()">Display Owners and restaurants</button>
    <button (click)="switchToDisplayUsersPanel()">Display All Users</button>
    <button (click)="switchToDisplayOrdersPanel()">Display All Orders</button>
    <button (click)="switchToPendingOwnersPanel()">Pending Owner Applications</button>

    <app-display-users *ngIf="panel === 'displayUsers'"></app-display-users>
    <app-display-owners *ngIf="panel === 'displayOwners'"></app-display-owners>
    <app-display-orders *ngIf="panel === 'displayOrders'"></app-display-orders>
    <app-pending-owners *ngIf="panel === 'pendingOwners'"></app-pending-owners>
</div>
