<footer class="footer">
  <div class="top">
    <div class="content">
      <a
        routerLink="/"
        class="logo"
        >Blitz<span class="deep-pink">Bite</span></a
      >
      <p>
        Our food delivery site makes it simple to connect food sellers with hungry customers. Easily order your favorite meals and have them
        delivered to your door.
      </p>
    </div>

    <div class="links">
      <div class="link">
        <h4>Contact Information</h4>
        <a href="https://goo.gl/maps/83QLYeAhztPBv6UKA">Narva mnt 18, 51009 Tartu</a>
        <a href="mailto:sander.veske@gmail.com">sander.veske@gmail.com</a>
      </div>

      <div class="link">
        <h4>Page links</h4>
        <a routerLink="/about-us">About Us</a>
        <a routerLink="/contact-us">Contact Us</a>
        <a routerLink="/help">Help</a>
      </div>

      <div class="link">
        <h4>Code links</h4>
        <a href="https://github.com/sndvsk/fd-frontend">GitHub Front-End</a>
        <a href="https://github.com/sndvsk/foodDeliveryDemoApp">GitHub Back-end</a>
        <a href="http://fd-app-test.eu-north-1.elasticbeanstalk.com/swagger-ui/index.html">Swagger UI</a>
      </div>

      <div class="link">
        <h4>Legal</h4>
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <a routerLink="/terms-of-service">Terms of service</a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>
      Copyright © 2023 |
      <a
        href="https://github.com/sndvsk"
        class="git"
        >sndvsk</a
      >
      | <a href="https://opensource.org/license/mit/">MIT License</a>
    </p>
  </div>
</footer>
