<footer class="footer">
  <div class="top">
    <div class="content">
      <a routerLink="/" class="logo">Delive<span class="yellow">ry</span> App</a>
      <p>
        The food delivery website is a comprehensive,
        user-friendly online platform designed to facilitate seamless
        transactions between food vendors and consumers,
        streamlining the process of ordering and delivering meals right to your doorstep.
      </p>
    </div>

    <div class="links">
      <div class="link">
        <h4>Contact Information</h4>
            <a href="https://goo.gl/maps/83QLYeAhztPBv6UKA" target="_blank">Narva mnt 18, 51009 Tartu</a>
            <a href="mailto:sander.veske@gmail.com" target="_blank">sander.veske@gmail.com</a>
      </div>

      <div class="link">
        <h4>Quick Links</h4>
        <a routerLink="/about-us">About Us</a>
        <a routerLink="/contact-us">Contact Us</a>
        <a href="https://github.com/sndvsk/fd-frontend" target="_blank">GitHub Front-End</a>
        <a href="https://github.com/sndvsk/foodDeliveryDemoApp" target="_blank">GitHub Back-end</a>
      </div>

      <div class="link">
        <h4>Legal</h4>
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <a routerLink="/terms-of-use">Terms of Use</a>
        <a href="https://goo.gl/maps/83QLYeAhztPBv6UKA" target="_blank">Location</a>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>Copyright © 2023 sndvsk All rights reserved.</p>
  </div>
</footer>