<footer class="footer">
  <div class="top">
    <div class="content">
      <a href="" class="logo">Delive<span class="yellow">roo</span></a>
      <p>
        Lorem ipsum dolor sit amet,adipiscing elit. Eu, montes, metus
        porttitor consectetur pretium. Euismod imperdiet
      </p>
    </div>

    <div class="links">
      <div class="link">
        <h4>Contact Information</h4>
        <div>
          <img src="" alt="" />
          <span>122,Albert St, Port Melbourne,Vic 3207.</span>
        </div>
        <div>
          <img src="" alt="" />
          <span>deliveroo@gmail.com</span>
        </div>
      </div>

      <div class="link">
        <h4>Quick Links</h4>
        <a href="#">Services</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Download</a>
      </div>

      <div class="link">
        <h4>Legal</h4>
        <a href="#">Privacy Policy</a>
        <a href="#">Term of Use</a>
        <a href="#">Conditions</a>
        <a href="#">Location</a>
      </div>

      <div class="link">
        <h4>Connect with Us</h4>
        <div>
          <img src="" alt="" />
          <span>Instagram</span>
        </div>
        <div>
          <img src="" alt="" />
          <span>Twitter</span>
        </div>
        <div>
          <img src="" alt="" />
          <span>Facebook</span>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <p>Copyright © 2010-2021 Deliveroo Company S.L. All rights reserved.</p>
  </div>
</footer>